body {
    background-color:rgba(30,144,255, 0.3);
}


.color {
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
}

.line {
    display:inline-block;
    border-radius:50%;
}