body {
    background-image:url(../images/resto1.jpg);
    background-size:cover;
    text-align:center;
    color:skyblue;
    background-repeat:no-repeat;
    margin:auto;
}

header {
    background-color: rgba(0,0,0,.3);
}

header a {
    text-decoration:none;
    color:white;
    text-align:center;
}

button {
   
    background: #0078D7; 
    color: white; 
    text-align:center;
    width: 11%;
}

.user {
    display:inline-block;
    background-color:#00BFFF;
    font-size:1.2rem;
    color:white;
    text-decoration:none;
    padding:20px;
}

.info {
    border: 3px blue solid;
     width:30%;
    background-color:skyblue;
    color:red;
    text-align:center;
    margin:auto;
    vertical-align:top;
}

.connect {
    font-size:2rem;
    float:right;
    border: 3px skyblue solid;
    background-color: rgba(0,0,0,.3);
    color:orange;
}
table {
    
    margin:auto;
    
    border-collapse:collapse;
    background-color: rgba(0,0,0,.3);
    width:80%;
  
}

td {
    text-align:center;
   
    font-size:1.2rem;
    color:white;
    padding:10px;
}

tr:hover
{
    
    background-color: #FF4500;
    box-shadow: 0 0 4px 2px rgba(102, 204, 153, 0.5);
    color: white;
}



table caption  {
    color:Red;
    font-size:1.6rem;
    text-align:center;
}

h2 {
    color:green;
}

footer li {
    display:inline-block;
    list-style:none;
}

.form {
    display:block;
    text-align:center;
   
}

form {
    background-color: rgba(0,0,0,.3);
    color:red;
   
}

textarea {
    display:block;
    width:200px;
}
input {
    display:block;
    width:200px;
    background-color: rgba(0,0,0,.3);
    text-align:center;
    color:white;
}

label {
    display:block;
    width:200px;
    text-align:center;
}

.error  {
     border: 3px red solid;
     background-color:red;
}