body {
    text-align:center;
    background-color:#87CEFA;
    color:white;
    margin:auto;
    
}

.cacher {
    display:none;
}

input[name="email"]{
background-color:transparent;

}

input[name="name"]{
background-color:transparent;
}

